1
00:00:17,030 --> 00:00:24,000
Tafel: "Es ist ein Irrtum, daß die Toten tot sind" 1929 -
1995

2
00:00:24,000 --> 00:00:31,900
Textband: "Sich verwandeln in unbedrohbaren Staub" (B.
Brecht) /

3
00:00:31,900 --> 00:00:36,970
Am 30.12.1995 ist Heiner Müller gestorben /

4
00:00:36,970 --> 00:00:43,970
In dem Gespräch vom Herbst '95 geht es um Atem, Hitler,
Immanuel Kant,

5
00:00:43,970 --> 00:00:52,500
den Generationenvertrag, um Trost durch Verwandlung und um
Tabak - -

6
00:00:52,500 --> 00:00:56,900
Tafel: "WER RAUCHT, SIEHT KALTBLÜTIG AUS und wer raucht
wird kaltblütig"

7
00:00:56,900 --> 00:01:01,070
Gespräch mit Heiner Müller

8
00:01:01,070 --> 00:01:06,770
Kluge: Du kennst den Ausdruck Pneuma, der Atem, griechisch.

9
00:01:06,770 --> 00:01:15,470
Wenn du sozusagen atmest, an der Zigarre, atmest du ja immer
ein.

10
00:01:15,470 --> 00:01:22,170
Müller: Aber nicht den Rauch, der Rauch geht nur bis in die
Mundhöhle, dann geht er wieder raus.

11
00:01:22,170 --> 00:01:23,300
Dann pustest du aus.

12
00:01:23,300 --> 00:01:27,500
Ja. Weil du von Atem redest.

13
00:01:27,500 --> 00:01:31,170
Ich hab einen ganz tollen Satz gelesen gerade,

14
00:01:31,170 --> 00:01:35,430
in einem Kriminalroman von einer amerikanischen Autorin.

15
00:01:35,430 --> 00:01:37,130
Der Sheriff - der ist der Protagonist -

16
00:01:37,130 --> 00:01:41,830
geht auf den Friedhof und gießt wie immer am nationalen
Gedenktag

17
00:01:41,830 --> 00:01:45,500
ein Coors, ein Bier, auf dem Grab seines Bruders aus,

18
00:01:45,500 --> 00:01:49,170
der in Vietnam gefallen ist, und plötzlich hat er das
Gefühl,

19
00:01:49,170 --> 00:01:54,930
daß sein Atem zu laut ist, weil die Toten können nicht
mehr atmen

20
00:01:54,930 --> 00:01:58,630
und er fühlt sich ganz indiskret, weil er so laut atmet.

21
00:01:58,630 --> 00:02:01,330
Das fand ich einen tollen Satz.

22
00:02:01,330 --> 00:02:04,970
Kluge: Sag mir doch mal, wenn du rauchst -

23
00:02:04,970 --> 00:02:15,030
dein Arzt hat dir gesagt, du sollst ruhig rauchen, und: was
ist das?

24
00:02:15,030 --> 00:02:22,000
Müller: Du, es ist einmal ein Genuß, es schmeckt gut.

25
00:02:22,000 --> 00:02:24,000
Und die Lunge hat keine Geschmacksorgane,

26
00:02:24,000 --> 00:02:26,270
also man braucht das nicht in der Lunge.

27
00:02:26,270 --> 00:02:31,300
Die Geschmacksorgane sind in der Mundhöhle, am Gaumen.

28
00:02:31,300 --> 00:02:41,530
Und wahrscheinlich ist es ein Vehikel für die Stoa, wenn
man raucht.

29
00:02:41,530 --> 00:02:44,930
Es gibt bei Brecht im "Ui" so einen Satz:

30
00:02:44,930 --> 00:02:52,330
"Wer raucht, sieht kaltblütig aus. Und wer raucht, wird
kaltblütig."

31
00:02:52,330 --> 00:02:54,170
Vielleicht ist es das.

32
00:02:54,170 --> 00:03:05,000
Weil du schließt dich kurz mit deiner Sexualität, wenn du
rauchst, besonders Zigarren.

33
00:03:05,000 --> 00:03:07,500
Zigaretten - könnte ich wenig damit anfangen.

34
00:03:07,500 --> 00:03:14,370
Kluge: Kann auch so sein, also der Sauerstoffentzug, das
wär ja der Tod.

35
00:03:14,370 --> 00:03:20,000
Aber in dem Maße, in dem ich an eine fremde Luft, die des
Tabaks, der Begeisterung

36
00:03:20,000 --> 00:03:27,070
... das ist ja ein geistiges Mittel, dann bin ich vom Tod
doch etwas entfernt.

37
00:03:27,070 --> 00:03:28,300
Müller: Das könnte sein, ja.

38
00:03:28,300 --> 00:03:34,570
Kluge: Die Trennlinie wird scharf nochmal gezeichnet.

39
00:03:34,570 --> 00:03:38,000
Tafel: Begegnung mit Rolf Hochhuth / "Krösus der
Materialien"

40
00:03:38,000 --> 00:03:41,570
Müller: Wir haben jetzt vor ein paar Tagen uns getroffen,
aber ganz privat.

41
00:03:41,570 --> 00:03:44,770
Wir haben kein Wort verloren über den juristischen Aspekt
oder über die Eigentumsprobleme,

42
00:03:44,770 --> 00:03:53,730
   darüber rede ich nicht und er auch nicht mit mir, das
ist eine Sache der Anwälte, das geht mich nichts an.

43
00:03:53,730 --> 00:03:57,670
Und das finde ich auch fair, dabei zu bleiben.

44
00:03:57,670 --> 00:03:58,930
Wir haben darüber gesprochen,

45
00:03:58,930 --> 00:04:04,400
daß er vor Jahren versprochen hat der Marianne Hoppe einen
Text,

46
00:04:04,400 --> 00:04:08,500
und zwar einen Monolog von Effi Briest.

47
00:04:08,500 --> 00:04:12,400
Und ich hab wieder gestaunt, wieviel er weiß darüber.

48
00:04:12,400 --> 00:04:16,970
Er hat über das Problem Effi Briest gesprochen mit Manfred
von Ardenne,

49
00:04:16,970 --> 00:04:20,970
der ja ein Verwandter von Effi Briest ist.

50
00:04:20,970 --> 00:04:24,500
Und die ist mit, ich weiß nicht, 96 Jahren in Lindau
gestorben, glaube ich, am Bodensee,

51
00:04:24,500 --> 00:04:28,730
entgegen der Fontane-Version.

52
00:04:28,730 --> 00:04:32,730
Das interessiert ihn und das fänd ich auch interessant,
wenn er das schreibt.

53
00:04:32,730 --> 00:04:34,670
Das kann man dann machen.

54
00:04:34,670 --> 00:04:37,870
Und in so einer Besetzung wär das interessant.

55
00:04:37,870 --> 00:04:41,900
Die hat zuletzt als Krankenschwester gearbeitet
hauptsächlich,

56
00:04:41,900 --> 00:04:44,870
und sein Ausgangspunkt ist eine Szene mit einem jungen
Soldaten,

57
00:04:44,870 --> 00:04:51,870
der stirbt, und dabei entwickelt sich ihr großer
Lebensmonolog.

58
00:04:51,870 --> 00:04:55,930
Aber erstaunlich ist, wieviel er weiß darüber, er hat
total recherchiert alles,

59
00:04:55,930 --> 00:05:00,770
was man darüber wissen kann, und mit allen Verwandten
gesprochen, die es noch gibt...

60
00:05:00,770 --> 00:05:03,400
Kluge: ...dieses Material, dieses Interesse, das fesselt ihn
so,

61
00:05:03,400 --> 00:05:06,800
er ist so ernsthaft interessiert an den Tatsachen,

62
00:05:06,800 --> 00:05:11,070
daß er diese kunstvoll von Fontane hergestellte
Verschlüsselung...

63
00:05:11,070 --> 00:05:12,500
Müller: ...aufbrechen kann, ja...

64
00:05:12,500 --> 00:05:13,400
Kluge: ...aufbrechen kann.

65
00:05:13,400 --> 00:05:18,700
Daß aus der Trauer, von Effi Briests Tod und dem Hund, der
sich auf ihr Grab setzt,

66
00:05:18,700 --> 00:05:25,530
   daß daraus ein Interesse für eine Ehe und eine
Ehescheidung entsteht.

67
00:05:25,530 --> 00:05:28,730
Das verwirft er, - das wäre das dramatische Element -

68
00:05:28,730 --> 00:05:32,730
das verwirft er und ist jetzt ein Krösus der Materialien.

69
00:05:32,730 --> 00:05:34,430
Müller: Ja...ja...ja.

70
00:05:34,430 --> 00:05:36,930
Oder zum Beispiel eine Geschichte, die er mir erzählte.

71
00:05:36,930 --> 00:05:42,230
Ich hatte die gehört schon, aber nicht so detailliert im
Zusammenhang

72
00:05:42,230 --> 00:05:45,530
mit der Arbeit an "Ui", also an der Inszenierung.

73
00:05:45,530 --> 00:05:48,830
Ich wusste aber nicht die genauen Details, und die hat er
erzählt.

74
00:05:48,830 --> 00:05:54,500
Es gibt von einem Pflichtverteidiger aus der Nazizeit -

75
00:05:54,500 --> 00:05:59,230
ich weiß den Namen nicht des Buches, es ist bei Siedler
erschienen -

76
00:05:59,230 --> 00:06:03,000
einen Bericht über die Fälle, mit denen er zu tun hatte.

77
00:06:03,000 --> 00:06:11,930
Die Nazis haben ja immer Pflichtverteidiger bestallt für
die politischen Angeklagten,

78
00:06:11,930 --> 00:06:16,300
und der erzählt so seine Hauptfälle,

79
00:06:16,300 --> 00:06:19,370
die endeten meistens mit der Hinrichtung des Patienten
natürlich.

80
00:06:19,370 --> 00:06:24,200
Und der Fall, von dem Hochhuth erzählte, war der Fall Wasa.

81
00:06:24,200 --> 00:06:30,600
Ein Mann namens Wasa hat 1941 nach Stalingrad gesagt,

82
00:06:30,600 --> 00:06:33,670
"es ist kein Wunder, daß wir den Krieg verlieren oder daß
Deutschland

83
00:06:33,670 --> 00:06:38,530
den Krieg verliert, mit einem Führer, der nur noch einen
halben Schwanz hat."

84
00:06:38,530 --> 00:06:41,930
Und dieser Mann, Wasa, ist dafür hingerichtet worden,
natürlich.

85
00:06:41,930 --> 00:06:47,470
Der war aber dabei, als in Braunau, der ist in Braunau
geboren wohl und aufgewachsen,

86
00:06:47,470 --> 00:06:52,700
als so drei, vier Jungs zusammen mit Adolf Hitler,

87
00:06:52,700 --> 00:06:55,000
die haben gespielt mit einem Ziegenbock.

88
00:06:55,000 --> 00:06:59,170
Das ist eine groteske Geschichte, aber es ist in dem Buch
belegt.

89
00:06:59,170 --> 00:07:03,870
Die haben den Ziegenbock mit dem Schwanz an ein Scheunentor
gebunden

90
00:07:03,870 --> 00:07:08,400
und drei haben ihm das Maul aufgehalten und der jeweils
vierte hat reingepinkelt.

91
00:07:08,400 --> 00:07:11,130
Und als der kleine Adolf dran war, haben die anderen
losgelassen,

92
00:07:11,130 --> 00:07:15,400
ob aus Versehen oder mit Absicht, das ist ungeklärt.

93
00:07:15,400 --> 00:07:17,000
Und der Ziegenbock hat zugebissen.

94
00:07:17,000 --> 00:07:21,000
Kluge: Der Schwanz war zwar intakt und er hätte abgehen
können und dem Gerücht...

95
00:07:21,000 --> 00:07:22,000
Müller: ...Nene, er war wohl ziemlich...

96
00:07:22,000 --> 00:07:23,000
Kluge: ...verletzt...

97
00:07:23,000 --> 00:07:26,600
Müller: ...halbiert, also es fehlte ein Stück.

98
00:07:26,600 --> 00:07:30,400
Das ist die Geschichte vom...

99
00:07:30,400 --> 00:07:32,970
Kluge: Also der Legende nach, es wäre die Hälfte, ja...

100
00:07:32,970 --> 00:07:35,870
Müller: ...Jaja, klar. Und da gibt's so viele Versionen
darüber,

101
00:07:35,870 --> 00:07:40,670
die Kriegsverletzungen und so... und das scheint aber die...

102
00:07:40,670 --> 00:07:41,770
Kluge: ...Man sagt ja,

103
00:07:41,770 --> 00:07:42,770
daß die Haltung von ihm...:

104
00:07:42,770 --> 00:07:44,470
er schützt den letzten Arbeitslosen in Deutschland.

105
00:07:44,470 --> 00:07:45,200
Müller: Jaja, genau, jaja.

106
00:07:45,200 --> 00:07:47,800
Tafel: Die dramatische Arbeit Schillers / "Theater handelt
vom Sterben - \-"

107
00:07:47,800 --> 00:07:49,930
Kluge: Wenn du mal die dramatische Arbeit von Friedrich
Schiller,

108
00:07:49,930 --> 00:07:52,000
die ja auch sehr stark Substanzen,

109
00:07:52,000 --> 00:07:55,100
also Kolportageelemente mitentfaltet,

110
00:07:55,100 --> 00:08:00,730
also etwas, worüber er sich erregt, das verwaltet er in
Form von Dialogen.

111
00:08:00,730 --> 00:08:04,430
Wenn du das mal vergleichst, hat das eine Ähnlichkeit?

112
00:08:04,430 --> 00:08:05,830
Müller: Das hat es absolut.

113
00:08:05,830 --> 00:08:08,370
Vor allem auch der moralische Impetus,

114
00:08:08,370 --> 00:08:12,330
den Hochhuth auf jeden Fall hat, das war auch der von
Schiller.

115
00:08:12,330 --> 00:08:14,800
Also die Weltgeschichte ist das Weltgericht,

116
00:08:14,800 --> 00:08:18,930
und das Theater ist das Vehikel für das Weltgericht.

117
00:08:18,930 --> 00:08:22,000
Kluge: Was ist deine Meinung vom Theater?

118
00:08:22,000 --> 00:08:24,800
Müller: Keine so hohe jedenfalls.

119
00:08:24,800 --> 00:08:29,000
Keine so moralische. Es ist vielleicht...

120
00:08:29,000 --> 00:08:31,000
Kluge: ...es ist das Beerdigungsinstitut der
Weltgeschichte...

121
00:08:31,000 --> 00:08:35,000
Müller: ...Beerdigungsinstitut ja, kann man auch schwer
sagen.

122
00:08:35,000 --> 00:08:38,470
Aber es ist vielleicht eine Möglichkeit,

123
00:08:38,470 --> 00:08:45,830
kollektive Erfahrungen festzuschreiben und tradierbar zu
machen.

124
00:08:45,830 --> 00:08:47,030
Kluge: Sichtbar zu halten.

125
00:08:47,030 --> 00:08:50,030
Müller: Sichtbar und dadurch tradierbar zu machen.

126
00:08:50,030 --> 00:08:52,800
Über die Erfahrung des Zuschauers, wenn man Glück hat.

127
00:08:52,800 --> 00:08:54,870
Kluge: Also eine Generation gibt der anderen, ja...

128
00:08:54,870 --> 00:08:55,830
Müller: ...ihre Erfahrungen weiter...

129
00:08:55,830 --> 00:08:56,970
Kluge: ...ihre Erfahrungen weiter,

130
00:08:56,970 --> 00:09:01,300
es ist also nicht so, daß die Bühne mit dem Zuschauerraum
korrespondiert,

131
00:09:01,300 --> 00:09:03,530
sondern eigentlich ist es so, daß beide korrespondieren

132
00:09:03,530 --> 00:09:06,100
mit den Nachfahren und den Vorfahren.

133
00:09:06,100 --> 00:09:08,800
Ist das richtig?

134
00:09:08,800 --> 00:09:13,470
Sodaß es eigentlich eine Zeitreise ist, die man im Theater
macht.

135
00:09:13,470 --> 00:09:17,470
Müller: Ja und das wesentliche am Theater ist ja dann,

136
00:09:17,470 --> 00:09:21,930
da sind wir beinahe bei Ovid wieder, das wesentliche ist die
Verwandlung,

137
00:09:21,930 --> 00:09:27,570
und die letzte Verwandlung ist der Tod, das Sterben.

138
00:09:27,570 --> 00:09:31,730
Und die Angst vor dieser letzten Verwandlung ist allgemein,

139
00:09:31,730 --> 00:09:35,130
auf die kann man sich verlassen,

140
00:09:35,130 --> 00:09:35,930
auf die kann man bauen und das ist auch die Angst

141
00:09:35,930 --> 00:09:43,230
des Schauspielers und die Angst des Zuschauers.

142
00:09:43,230 --> 00:09:45,930
Und das Spezifische am Theater ist eben nicht die Präsenz

143
00:09:45,930 --> 00:09:49,670
des lebenden Schauspielers oder des lebenden Zuschauers,

144
00:09:49,670 --> 00:09:54,430
sondern die Präsenz des potentiell Sterbenden.

145
00:09:54,430 --> 00:09:57,370
Kluge: Wenn du einen Satz hören würdest von Kant:

146
00:09:57,370 --> 00:10:00,730
"Der gestirnte Himmel über mir, und das moralische Gesetz
in mir",

147
00:10:00,730 --> 00:10:06,400
was würdest du assoziieren?

148
00:10:06,400 --> 00:10:07,930
Müller: Das ist eigentlich Terror.

149
00:10:07,930 --> 00:10:08,730
Kluge: ...Terror...

150
00:10:08,730 --> 00:10:10,000
Müller: ...Der Satz, ist Terror...

151
00:10:10,000 --> 00:10:11,870
Kluge: ...Terror, ja, die Kombination ist der Terror, ja?

152
00:10:11,870 --> 00:10:13,630
Müller: Jaja, ich glaube ja.

153
00:10:13,630 --> 00:10:14,700
Kluge: "Der gestirnte Himmel über mir"

154
00:10:14,700 --> 00:10:18,500
könnte sein, aber er wäre ein Freibrief.

155
00:10:18,500 --> 00:10:22,500
Er wär die Erlaubnis zu allen möglichen Übertretungen des
Moralgesetzes.

156
00:10:22,500 --> 00:10:26,130
Müller: Bei Kant habe ich sowieso ein gestörtes
Verhältnis,

157
00:10:26,130 --> 00:10:29,570
weil ich hab mit zehn Jahren zum ersten Mal Kant gelesen und
zwar -

158
00:10:29,570 --> 00:10:34,070
das hatte mein Vater da rumstehen - und das war "Metaphysik
der Sitten".

159
00:10:34,070 --> 00:10:38,530
Und ich hab natürlich als erstes das Kapitel über die
Onanie gelesen.

160
00:10:38,530 --> 00:10:43,800
Das hat mich tief gekränkt, weil der fand die absolut
verwerflich

161
00:10:43,800 --> 00:10:47,130
und überhaupt das Letzte und Menschenunwürdigste, was es
gibt...

162
00:10:47,130 --> 00:10:49,500
Kluge: Wie begründet er das?

163
00:10:49,500 --> 00:10:54,500
Müller: Das ist gegen die Naturgesetze, gegen Gottes
Verfügung...

164
00:10:54,500 --> 00:10:57,170
Kluge: Wenn die Natur dem Menschen die Zeugungsfähigkeit
gegeben hat,

165
00:10:57,170 --> 00:11:00,670
dann ist es verwerflich ist, sie nicht zu benutzen.

166
00:11:00,670 --> 00:11:05,570
Müller: Genau, das hat mich tief beunruhigt damals.

167
00:11:05,570 --> 00:11:10,700
Und dann war ich so glücklich, daß ich Jahre später
irgendeine Anekdote gelesen habe,

168
00:11:10,700 --> 00:11:16,430
daß Kant angeblich jede Woche einmal oder sogar öfter an
der gleichen Eiche in dem Park,

169
00:11:16,430 --> 00:11:18,970
in dem er immer spazierenging, onaniert hat.

170
00:11:18,970 --> 00:11:20,500
Das hat mich dann wieder beruhigt.

171
00:11:20,500 --> 00:11:24,170
Von da ab habe ich mich für Kant nicht mehr so sehr
interessiert.

172
00:11:24,170 --> 00:11:25,130
Kluge: Er war widerlegt.

173
00:11:25,130 --> 00:11:26,500
Müller: Er war widerlegt, ja.

174
00:11:26,500 --> 00:11:38,630
Kluge: Ist die DDR eigentlich durch ihren Puritanismus eher
oder ihre ökonomische Schwäche zugrunde gegangen?

175
00:11:38,630 --> 00:11:43,270
Müller: Naja, Puritanismus war ja nur Programm, das war ja
keine Realität.

176
00:11:43,270 --> 00:11:45,500
Kluge: Aber du schreibst von Fickzellen, also zu klein
gebauten Wohnungen...

177
00:11:45,500 --> 00:11:50,470
Müller: Das ganze Problem bei dieser Architektur war, das
haben Statiker ausgerechnet,

178
00:11:50,470 --> 00:11:59,770
   man konnte das Bett immer nur in die eine Ecke stellen
in diesen Zehn-, Zwölf-, Vierzehn-Etagen-Häusern.

179
00:11:59,770 --> 00:12:01,930
Und wenn die alle gleichzeitig gefickt hätten,

180
00:12:01,930 --> 00:12:05,570
wäre die Statik ernsthaft gefährdet worden.

181
00:12:05,570 --> 00:12:08,900
Tafel: Wie lange gilt der GENERATIONEN-VERTRAG? / Ovids
Metamorphosen, 2000 Jahre alt

182
00:12:08,900 --> 00:12:11,030
Kluge: Wie weit geht so ein Generationenvertrag eigentlich?

183
00:12:11,030 --> 00:12:12,800
Also, wenn du dir jetzt so ein Ovid-Buch kaufst,

184
00:12:12,800 --> 00:12:14,500
geht der ja über 2000 Jahre, nicht?

185
00:12:14,500 --> 00:12:19,300
Also der Mann, der da keine Beamtenkarriere einschlug,

186
00:12:19,300 --> 00:12:24,400
weil er, egal welche Schriftsätze er schrieb, es kamen
Verse raus.

187
00:12:24,400 --> 00:12:31,130
Der den einen als leichtfertig gilt, 

188
00:12:31,130 --> 00:12:33,870
der uns aber jetzt als abgründig gilt und aufsässig, und
nicht staatsfromm.

189
00:12:33,870 --> 00:12:40,630
Der ist so, als wäre er dein Cousin.

190
00:12:40,630 --> 00:12:42,870
Müller: Das Schreckliche daran ist ja eigentlich...

191
00:12:42,870 --> 00:12:48,330
Ich habe gestern Nacht, weil ich irgendwann aufgewacht bin,

192
00:12:48,330 --> 00:12:51,930
nicht einschlafen konnte, habe ich irgendwo ein Buch
rausgezogen.

193
00:12:51,930 --> 00:13:01,130
Es war so ein triviales Buch über Grausamkeit und
Sexualität,

194
00:13:01,130 --> 00:13:08,270
also die Folterwerkzeuge, Foltermethoden, die es so in der
Geschichte der Menschheit gab,

195
00:13:08,270 --> 00:13:13,730
also von den Persern bis über Rom, bis heute.

196
00:13:13,730 --> 00:13:17,000
Und das ist schon gespenstisch, wenn man das mal so
durchblättert,

197
00:13:17,000 --> 00:13:22,870
was da alles erfunden worden ist, und das steht alles bei
Ovid schon im Grunde.

198
00:13:22,870 --> 00:13:25,400
Kluge: In der freundlichsten Gestalt.

199
00:13:25,400 --> 00:13:27,030
Müller: Und höchst elegant formuliert.

200
00:13:27,030 --> 00:13:28,430
Kluge: Aber ohne jeden Rabatt.

201
00:13:28,430 --> 00:13:37,630
Müller: Ja. Und das ist schon merkwürdig und da verstehe
ich schon,

202
00:13:37,630 --> 00:13:43,170
was der Klaus Heinrich meint, daß der Ovid diese
"Metamorphosen"...

203
00:13:43,170 --> 00:13:53,500
als Versuch eine Zivilisation zu konstituieren, zu
begründen.

204
00:13:53,500 --> 00:13:54,000
Es klappt aber nie.

205
00:13:54,000 --> 00:13:55,400
Tafel: "Tröstung ist die VERWANDLUNG" /

206
00:13:55,400 --> 00:13:57,370
Wenn man Stein wird, kann nichts mehr passieren

207
00:13:57,370 --> 00:13:59,000
Müller: Die Tröstung ist die Verwandlung.

208
00:13:59,000 --> 00:14:01,900
Also wenn man ein Baum wird, kann einem nichts mehr
passieren.

209
00:14:01,900 --> 00:14:04,800
Wenn man ein Stein wird, kann einem auch nichts mehr
passieren.

210
00:14:04,800 --> 00:14:07,670
Kluge: Wenn man stirbt, kann einem nichts mehr passieren...

211
00:14:07,670 --> 00:14:09,600
Müller: ...Kann einem auch nichts mehr passieren.

212
00:14:09,600 --> 00:14:14,970
Jedenfalls gehen wir davon aus, aufgrund unserer Unkenntnis
der Situation nach dem Tod.

213
00:14:14,970 --> 00:14:20,500
Kluge: Kommt bei dir die Sturheit, die du manchmal hast, die
Beharrlichkeit, aus so einer Überlegung auch?

214
00:14:20,500 --> 00:14:23,600
Müller: Das kann sein.

215
00:14:23,600 --> 00:14:26,000
Ich find zum Beispiel in dem Zusammenhang -

216
00:14:26,000 --> 00:14:30,500
also Ovid, die Verwandlung - es gibt von Brecht ein Gedicht,

217
00:14:30,500 --> 00:14:34,500
das sehr viel mit Kafka zu tun hat, von der Haltung her.

218
00:14:34,500 --> 00:14:36,600
Tafel: "WER RAUCHT, SIEHT KALTBLÜTIG AUS und wer raucht
wird kaltblütig" /

219
00:14:36,600 --> 00:14:38,200
Gespräch mit Heiner Müller

220
00:14:38,200 --> 00:14:45,770
Müller: Daß er mitteilt, er will jetzt nur noch Papier
sein, auf das etwas geschrieben wird,

