1
00:00:17,000 --> 00:00:25,420
Intertitle: "It's a mistake to think that the dead are dead"
1929-1995

2
00:00:25,420 --> 00:00:37,420
Running Text: "To be transformed into un-threatenable dust"
(B. Brecht) / Heiner Müller died on December 30, 1995 /

3
00:00:37,420 --> 00:00:45,670
In an interview from the autumn of 1995, Müller discusses
breathing, Hitler, Immanuel Kant,

4
00:00:45,670 --> 00:00:53,580
and the contract between the generations, as well as the
consolation of transformation and tobacco --

5
00:00:53,580 --> 00:01:00,920
Intertitle: "WHOEVER SMOKES LOOKS COLD-BLOODED and whoever
smokes becomes cold-blooded" Interview with Heiner Müller.

6
00:01:00,920 --> 00:01:15,580
Kluge: You know the expression pneuma, Greek for breath.
When you breathe, so to speak, on the cigar, you're always
inhaling.

7
00:01:15,580 --> 00:01:21,830
Müller: But not the smoke, the smoke only goes as far as
the cavity of the mouth, then it's blown out again.

8
00:01:21,830 --> 00:01:23,250
Kluge: Then you blow it out.

9
00:01:23,250 --> 00:01:35,670
Müller: Yes. Since you mentioned breathing: I recently read
a really great sentence in a detective novel by a female
American author.

10
00:01:35,670 --> 00:01:43,580
The sheriff - he's the protagonist - goes to the cemetery
and, as always on Memorial Day, pours a Coors, a beer,

11
00:01:43,580 --> 00:01:47,920
on the grave of his brother, who died in Vietnam,

12
00:01:47,920 --> 00:01:54,170
and suddenly he has the feeling that his breathing is too
loud, because the dead can no longer breathe,

13
00:01:54,170 --> 00:01:58,750
and he feels like he's being really indiscrete, because he's
breathing so loudly.

14
00:01:58,750 --> 00:02:02,170
I thought that was a great sentence.

15
00:02:02,170 --> 00:02:16,250
Kluge: Tell me, when you smoke - your doctor told you that
you should go ahead and smoke, and: what is that?

16
00:02:16,250 --> 00:02:22,420
Müller: Well, first of all it's a pleasure, it tastes good.

17
00:02:22,420 --> 00:02:26,000
And the lungs don't have any taste organs, so you don't need
it in your lungs.

18
00:02:26,000 --> 00:02:41,420
Your taste organs are in the cavity of your mouth, in your
gums. And it's probably a vehicle for stoicism when one
smokes.

19
00:02:41,420 --> 00:02:45,580
In Brecht's Ui there's a sentence that goes something like:

20
00:02:45,580 --> 00:02:52,080
"Whoever smokes looks cold-blooded. And whoever smokes
becomes cold-blooded."

21
00:02:52,080 --> 00:03:06,830
Maybe that's it. Because you short-circuit with your
sexuality when you smoke, especially cigars.

22
00:03:06,830 --> 00:03:08,330
I have less of an affinity for cigarettes.

23
00:03:08,330 --> 00:03:14,920
Kluge: That could be, because oxygen deprivation, that would
be death.

24
00:03:14,920 --> 00:03:21,170
But to the extent that I can use foreign air, that of the
tobacco, of the enthusiasm . . .

25
00:03:21,170 --> 00:03:26,920
it's a spiritual means to establish a distance from death.

26
00:03:26,920 --> 00:03:29,420
Müller: That could be, yes.

27
00:03:29,420 --> 00:03:36,750
Kluge: The borderline is once again drawn sharply.

28
00:03:36,750 --> 00:03:39,420
Intertitle: Encounter with Rolf Hochhuth / "A Croesus of the
Materials"

29
00:03:39,420 --> 00:03:41,420
Müller: We met a few days ago, but very privately.

30
00:03:41,420 --> 00:03:47,420
We didn't waste any words on the legal aspect or the
property issues,

31
00:03:47,420 --> 00:03:53,750
I don't talk about those things and he doesn't talk about
them with me, that's a matter for the lawyers, that doesn't
interest me.

32
00:03:53,750 --> 00:03:57,580
And I think it's fair to leave it at that.

33
00:03:57,580 --> 00:04:08,830
We talked about the fact that years ago he promised to write
a text for Marianne Hoppe, a monologue by Effie Briest.

34
00:04:08,830 --> 00:04:12,830
And I was once again amazed by how much he knew about that.

35
00:04:12,830 --> 00:04:21,330
He talked about the problem of Effie Briest with Manfred von
Ardenne, who's a relative of hers.

36
00:04:21,330 --> 00:04:28,670
And contrary to Fontane's version, she died in Lindau, I
think, on Lake Constance, at the age of, I don't know,
ninety-six.

37
00:04:28,670 --> 00:04:32,920
He's interested in that, and I would also find it
interesting if he writes it.

38
00:04:32,920 --> 00:04:35,750
One could stage it then.

39
00:04:35,750 --> 00:04:38,670
And it would be interesting with Marianne Hoppe in that
role.

40
00:04:38,670 --> 00:04:49,000
In the end Effie Briest worked primarily as a nurse, and his
starting point is a scene with a young soldier who dies,

41
00:04:49,000 --> 00:04:51,830
and the great monologue of her life develops out of that.

42
00:04:51,830 --> 00:04:55,080
What's astounding, though, is how much he knows about it,

43
00:04:55,080 --> 00:05:00,830
he has completely researched everything that one can know
about it and talked to all of the relatives who are still
alive . . .

44
00:05:00,830 --> 00:05:04,580
Kluge: . . . this material, this interest, it so captivates
him,

45
00:05:04,580 --> 00:05:11,000
he has such a serious interest in the facts that he can
break open this system of encryption that Fontane artfully
manufactured . . .

46
00:05:11,000 --> 00:05:12,250
Müller: . . . he can break it open, yes . . .

47
00:05:12,250 --> 00:05:27,670
Kluge: He rejects this notion that interest in a marriage
and a divorce arises out of mourning for Effie Briest's
death and the dog that sits on her grave.

48
00:05:27,670 --> 00:05:33,000
That would be the dramatic element, and he rejects that and
is now a Croesus of the materials.

49
00:05:33,000 --> 00:05:37,080
Müller: Yes, yes, yes. Or, for example, there's a story
that he told me.

50
00:05:37,080 --> 00:05:46,420
I had already heard it in the context of my work staging Ui,
but not in such detail.

51
00:05:46,420 --> 00:05:51,670
I didn't know the precise details, and he told them to me.

52
00:05:51,670 --> 00:05:59,920
There's a report by a public defender from the Nazi era - I
don't know the name of the book, it was published by Siedler
-

53
00:05:59,920 --> 00:06:03,580
a report about the cases he dealt with.

54
00:06:03,580 --> 00:06:15,330
The Nazis always appointed public defenders for political
defendants, and he tells about his most important cases,

55
00:06:15,330 --> 00:06:19,830
which usually ended with the execution of his client, of
course.

56
00:06:19,830 --> 00:06:23,500
And the case Hochhuth told me about was the Wasa case.

57
00:06:23,500 --> 00:06:30,580
A man by the name of Wasa said in 1941, after Stalingrad,

58
00:06:30,580 --> 00:06:38,920
"it's not surprising that we're losing the war or that
Germany is losing the war with a Führer who has only half a
dick."

59
00:06:38,920 --> 00:06:42,420
And this man, Wasa, was executed for that, of course.

60
00:06:42,420 --> 00:06:48,000
He was there, though, in Braunau - I think he was born in
Braunau and grew up there -

61
00:06:48,000 --> 00:06:55,670
when three or four boys, along with Adolf Hitler, were
playing with a billy goat.

62
00:06:55,670 --> 00:06:59,750
It's a grotesque story, but it's documented in the book.

63
00:06:59,750 --> 00:07:06,170
They tied the billy goat to a barn door by its dick, and
three of them held its mouth open,

64
00:07:06,170 --> 00:07:09,250
and whoever the fourth one was took his turn peeing into the
billy goat's mouth.

65
00:07:09,250 --> 00:07:15,080
And when little Adolf's turn came, the other three let go,
either accidentally or intentionally, that's not clear.

66
00:07:15,080 --> 00:07:18,420
And the billy goat bit down.

67
00:07:18,420 --> 00:07:21,830
Kluge: His penis was intact and he could have left, and the
rumor . . .

68
00:07:21,830 --> 00:07:23,580
Müller: . . . No, no, apparently he was rather . . .

69
00:07:23,580 --> 00:07:24,580
Kluge: . . . injured . . .

70
00:07:24,580 --> 00:07:30,330
Müller: . . . halved, so that a piece was missing. That's
the story of . . .

71
00:07:30,330 --> 00:07:31,500
Kluge: According to the legend it was half, yes . . .

72
00:07:31,500 --> 00:07:38,330
Müller: . . . Yes, yes, clearly. And there are so many
versions of the story, the war injuries and so on . . . but
it appears that the . . .

73
00:07:38,330 --> 00:07:40,750
Kluge: . . . People said of his attitude . .  .: He is
defending Germany's last unemployed.

74
00:07:40,750 --> 00:07:45,250
Müller: Yes, exactly, yes.

75
00:07:45,250 --> 00:07:48,420
Intertitle: Schiller's dramatic work / "Theater deals with
dying - \-"

76
00:07:48,420 --> 00:07:55,830
Kluge: If you compare Friedrich Schiller's dramatic work,
which also develops substances very strongly, colportage
elements,

77
00:07:55,830 --> 00:08:02,080
so that he deals, in the form of dialogues, with things that
excite him.

78
00:08:02,080 --> 00:08:04,420
If you compare that, is there a similarity?

79
00:08:04,420 --> 00:08:12,670
Müller: Absolutely. Above all, though, the moral impetus
that Hochhuth so clearly has, Schiller had that too.

80
00:08:12,670 --> 00:08:19,080
World history is the last judgment, and theater is the
vehicle of this last judgment.

81
00:08:19,080 --> 00:08:22,250
Kluge: What's your opinion of the theater?

82
00:08:22,250 --> 00:08:24,830
Müller: It's not as high of an opinion, in any case. Not as
moral of one. Maybe it's . . .

83
00:08:24,830 --> 00:08:31,330
Kluge: . . . it's the funeral home of world history . . .

84
00:08:31,330 --> 00:08:35,330
Müller: . . . a funeral home, yes, it's hard to say.

85
00:08:35,330 --> 00:08:45,420
But maybe it's an opportunity to codify collective
experiences and hence make it possible to pass them down.

86
00:08:45,420 --> 00:08:46,670
Kluge: To keep them visible.

87
00:08:46,670 --> 00:08:52,250
Müller: To make them visible and hence capable of being
passed down. By way of the experience of the spectator, if
you're lucky.

88
00:08:52,250 --> 00:08:55,170
Kluge: So one generation imparts . . .

89
00:08:55,170 --> 00:08:59,000
Müller: . . . imparts its experiences . . .

90
00:08:59,000 --> 00:09:02,080
Kluge: . . . imparts its experiences to the next one, so
that it's not the case that the stage corresponds with the
audience,

91
00:09:02,080 --> 00:09:06,080
but really it's the case that both correspond with their
descendants and their ancestors.

92
00:09:06,080 --> 00:09:13,920
Is that right? So that it's really a journey through time
that one takes in the theater.

93
00:09:13,920 --> 00:09:19,420
Müller: Yes, and the essential thing about theater is then
- and here we are once again touching on Ovid -

94
00:09:19,420 --> 00:09:27,580
the essential thing is transformation, and the last
transformation is death, dying.

95
00:09:27,580 --> 00:09:35,250
And the fear of this last transformation is universal, it's
dependable, one can use it as a foundation,

96
00:09:35,250 --> 00:09:43,330
and it's also the fear of the actor and the fear of the
spectator.

97
00:09:43,330 --> 00:09:50,080
And what's specific to the theater is not the presence of
the living actor or of the living spectator,

98
00:09:50,080 --> 00:09:54,500
but rather the presence of the person who has the potential
to die.

99
00:09:54,500 --> 00:10:06,580
Kluge: If you were to hear a sentence by Kant: "The starry
heavens above me and the moral law within me," what would
your associations be?

100
00:10:06,580 --> 00:10:07,750
Müller: Really, that's terror.

101
00:10:07,750 --> 00:10:08,750
Kluge: . . terror . . .

102
00:10:08,750 --> 00:10:10,250
Müller: . . . That sentence is terror . . .

103
00:10:10,250 --> 00:10:11,830
Kluge: . . . Terror, yes, the combination is the terror,
isn't it?

104
00:10:11,830 --> 00:10:13,670
Müller: Yes, yes, I think so.

105
00:10:13,670 --> 00:10:18,500
Kluge: "The starry heavens above me" might exist, but they
would be a blank check.

106
00:10:18,500 --> 00:10:22,920
They would be an authorization for every conceivable
transgression of the moral law.

107
00:10:22,920 --> 00:10:29,750
Müller: I have, in any case, a troubled relationship to
Kant, because at age ten I read Kant for the first time -

108
00:10:29,750 --> 00:10:34,750
my father had that lying around - it was the Metaphysics of
Morals.

109
00:10:34,750 --> 00:10:39,080
And naturally the first chapter I read was the one on
onanism.

110
00:10:39,080 --> 00:10:42,670
And that disturbed me deeply, because he considered it
completely reprehensible and in every respect

111
00:10:42,670 --> 00:10:46,750
the worst and the most undignified thing that exists . . .

112
00:10:46,750 --> 00:10:50,080
Kluge: What's his argument for that?

113
00:10:50,080 --> 00:10:54,920
Müller: It's against the laws of nature, against God's will
. . .

114
00:10:54,920 --> 00:11:00,670
Kluge: If nature has given human beings the power to
procreate, then it's reprehensible not to use it.

115
00:11:00,670 --> 00:11:05,580
Müller: Exactly, that troubled me deeply at that time.

116
00:11:05,580 --> 00:11:13,580
And then I was so happy when, years later, I read an
anecdote to the effect that Kant supposedly masturbated once
a week,

117
00:11:13,580 --> 00:11:19,080
or even more often, on the same oak tree in the park where
he always took his walks.

118
00:11:19,080 --> 00:11:23,920
That reassured me. And from then on I was no longer very
interested in Kant.

119
00:11:23,920 --> 00:11:24,830
Kluge: He had been refuted.

120
00:11:24,830 --> 00:11:26,830
Müller: He had been refuted, yes.

121
00:11:26,830 --> 00:11:38,830
Kluge: Did the GDR perish as a result of its puritanism or
as a result of its economic weakness?

122
00:11:38,830 --> 00:11:42,500
Müller: Well, puritanism was only a program, it wasn't a
reality.

123
00:11:42,500 --> 00:11:47,080
Kluge: But you write about fuck-cells, so apartments that
were built to be too small . . .

124
00:11:47,080 --> 00:11:53,250
Müller: The whole problem with this architecture - and the
stress analysts figured this out -

125
00:11:53,250 --> 00:11:59,670
was that there was only one corner in these ten-, twelve-,
fourteen-story buildings where you could put the bed.

126
00:11:59,670 --> 00:12:05,420
And if everyone had fucked at the same time, the stability
of the building would have been seriously endangered.

127
00:12:05,420 --> 00:12:07,750
Intertitle: How long does the CONTRACT BETWEEN GENERATIONS
remain in force? / Ovid's Metamorphoses, 2000 years old

128
00:12:07,750 --> 00:12:09,500
Kluge: How long does such a contract between generations
actually last?

129
00:12:09,500 --> 00:12:14,000
So when you now buy yourself an Ovid book, it's more than
2000 years old.

130
00:12:14,000 --> 00:12:25,670
So the man who didn't pursue a bureaucratic career, because
he, no matter what kind of briefs he was writing, they
always came out in verse, right?

131
00:12:25,670 --> 00:12:34,580
A man whom some consider frivolous, but who is now
considered profound, and rebellious and disrespectful
towards the state.

132
00:12:34,580 --> 00:12:41,170
It's as if he were your cousin.

133
00:12:41,170 --> 00:12:43,750
Müller: Yes, the awful thing about that is really . . .

134
00:12:43,750 --> 00:12:54,170
Last night, because I couldn't sleep, I woke up at some
point and couldn't fall asleep again, I pulled a book out
from somewhere,

135
00:12:54,170 --> 00:13:08,000
it was a trivial book about cruelty and sexuality, the
torture devices, methods of torture, and so on

136
00:13:08,000 --> 00:13:13,920
that have existed in the history of mankind, from the
Persians to Rome to the present, and so on.

137
00:13:13,920 --> 00:13:22,750
It's quite spooky, when you flip through something like that
and see what all has been invented. And basically, all of
that is already there in Ovid.

138
00:13:22,750 --> 00:13:26,000
Kluge: In the friendliest of forms.

139
00:13:26,000 --> 00:13:27,920
Müller: And very elegantly formulated.

140
00:13:27,920 --> 00:13:28,920
Kluge: But without any reduction?

141
00:13:28,920 --> 00:13:35,000
Müller: Yes, yes.

142
00:13:35,000 --> 00:13:40,920
And that's quite strange, and it helps me to understand what
Klaus Heinrich means,

143
00:13:40,920 --> 00:13:51,580
that Ovid wrote these Metamorphoses as an attempt at
constituting, at founding a civilization.

144
00:13:51,580 --> 00:13:54,420
But that never works.

145
00:13:54,420 --> 00:13:56,670
Intertitle: "The consolation is the TRANSFORMATION" /

146
00:13:56,670 --> 00:13:59,750
"If you become a stone, then nothing more can happen"

147
00:13:59,750 --> 00:14:01,330
Müller: The consolation is the transformation.

148
00:14:01,330 --> 00:14:03,080
If you become a tree, nothing more can happen to you.

149
00:14:03,080 --> 00:14:05,750
If you become a stone, nothing can happen to you either.

150
00:14:05,750 --> 00:14:09,500
Kluge: If you die, then nothing more can happen to you.

151
00:14:09,500 --> 00:14:11,250
Müller: Nothing more can happen to you then, either.

152
00:14:11,250 --> 00:14:15,170
In any case we assume not, on the basis of our ignorance of
the situation after death.

153
00:14:15,170 --> 00:14:20,420
Kluge: Does the obstinacy that you sometimes have, the
doggedness, also come from considerations like these?

154
00:14:20,420 --> 00:14:31,330
Müller: That could be, yes. There's a poem by Brecht that's
relevant in the context of Ovid and the Metamorphoses,

155
00:14:31,330 --> 00:14:34,420
and that also has a lot to do with Kafka in terms of its
attitude.

156
00:14:34,420 --> 00:14:39,420
Intertitle: "WHOEVER SMOKES LOOKS COLD-BLOODED and whoever
smokes becomes cold-blooded" / Interview with Heiner Müller

157
00:14:39,420 --> 00:14:46,330
Müller: He conveys that he now wants to be nothing but
paper on which something is written.

